input*/
output*/

*.zip
*.csv
*.txt
*.xlsx

Terminal output/

code/JT_snakemake/.snakemake/
code/JT_snakemake/logs/
code/JT_snakemake/results/
code/PR_python/__pycache__/
code/PR_python/output/

code/AM_count_combiner/counts_all.txt
code/PR_python/counts_all.txt
code/PR_python/process

.DS_Store

code/AM_count_combiner/config.js
code/JT_snakemake/config.yaml